/* footer */
#contact {
  background-color: #101010;
  color: white;
  height: 250px;
}

.contact_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_link {
  margin-top: 70px;
  font-size: var(--font-large);
  display: flex;
}

svg {
  margin-right: 20px;
  transition: all 0.3s ease;
}

svg:hover {
  transform: scale(1.1);
}
