/* Navbar */
#navBar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: baseline;
  color: rgb(81, 55, 42);
  transition: all 0.3s ease-in-out;
  padding: 5px;
  z-index: 50;
}

#navBar.navbar--dark {
  background-color: white;
  padding: 3px;
  border-bottom: solid 1px rgb(196, 196, 196);
}

.navbar_menu {
  display: flex;
}

.navbar_logo {
  margin-left: 20px;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar_logo > a {
  color: rgb(81, 55, 42);
}

.navbar_menu_item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  font-size: var(--font-regular);
}

.navbar_menu_item:hover {
  color: rgb(255, 118, 27);
}

#navbar_toggle {
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: rgb(81, 55, 42);
  display: none;
}

@media screen and (max-width: 768px) {
  #navbar_toggle {
    display: block;
    font-size: var(--font-medium);
    color: white;
  }

  .bars.navbar--dark {
    color: var(--color-light-grey);
  }

  #navBar {
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(248, 158, 84);
  }

  #navBar.navbar--dark {
    padding: 16px;
  }

  .navbar_menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar_menu.open {
    display: block;
  }
}
